body {
  height: 8000px;
}

header {
  background-image: url(../img/hero/h1_hero.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
}

header .container {
  max-width: 90% !important;
}

header .container nav {
  background-color: transparent;
}

header .container nav a.navbar-brand {
  color: #fff;
}

header .container nav .navbar-toggler {
  outline: none;
}

header .container nav .navbar-toggler span {
  background-color: #ff1313;
}

header .container nav div.collapse ul.navbar-nav {
  align-items: inherit;
  width: 85%;
  justify-content: space-around;
}

header .container nav div.collapse ul.navbar-nav li.nav-item a.nav-link {
  transition: all .5s ease-in-out;
  font-weight: bold;
}

header .container nav div.collapse ul.navbar-nav li.nav-item a.nav-link:hover {
  color: #ff1313;
}

header .container nav div.collapse ul.navbar-nav li.unlist {
  position: relative;
}

header .container nav div.collapse ul.navbar-nav li.unlist ul {
  position: absolute;
  width: 170px;
  background: rgba(43, 43, 43, 0.7);
  left: 0;
  top: 94%;
  visibility: hidden;
  opacity: 0;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
  padding: 17px 0;
  transition: .5s;
  list-style: none;
}

header .container nav div.collapse ul.navbar-nav li.unlist ul li {
  margin: 10px 0;
  padding-left: 5px;
  color: #d4d7e0;
}

header .container nav div.collapse ul.navbar-nav li.unlist ul li a {
  display: block;
  transition: all .5s ease-in-out;
  color: #d4d7e0;
}

header .container nav div.collapse ul.navbar-nav li.unlist ul li a:hover {
  color: #ff1313;
  text-decoration: none;
}

header .container nav div.collapse ul.navbar-nav li.unlist:hover ul {
  visibility: visible;
  opacity: 1;
}

header .container nav div.collapse ul.navbar-nav li.nav-item {
  padding: 10px 20px;
  text-transform: capitalize;
}

header .container nav div.collapse ul.navbar-nav li.nav-item a.nav-link {
  color: #d7d8d8;
}

header .container nav div.collapse ul.navbar-nav li.last {
  background-color: #ff1313;
  padding: 6px 15px;
  font-size: 13px;
}

header .container nav div.collapse ul.navbar-nav .hvr-bounce-to-right:before {
  background-color: rgba(10, 1, 1, 0.329);
  color: #d4d7e0;
}

header .container .main-contant {
  padding-top: 8rem;
}

header .container .main-contant div:nth-of-type(1) {
  line-height: 1.1;
  margin-bottom: 65px;
  font-family: 'Staatliches', cursive;
}

header .container .main-contant div:nth-of-type(1) h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: capitalize;
  font-size: 1.1rem;
}

header .container .main-contant div:nth-of-type(1) h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
}

header .container .main-contant div:nth-of-type(1) p {
  color: #d4d7e0;
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: bold;
  word-spacing: 7px;
  letter-spacing: 3px;
}

header .container .main-contant div:nth-of-type(1) a {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 10px;
  background-color: #ff1313;
  color: #d4d7e0;
  text-decoration: none;
  font-size: 20px;
}

header .container .main-contant div:nth-of-type(1) a.hvr-bounce-to-right:before {
  background-color: rgba(10, 1, 1, 0.329);
  color: #d4d7e0;
}

header .container .main-contant div:nth-of-type(2) {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .main-contant div:nth-of-type(2) a {
  position: relative;
}

header .container .main-contant div:nth-of-type(2) a::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: -5px;
  left: -5px;
  bottom: -5px;
  right: -5px;
  border-radius: 50%;
  border: 1px solid #ff1313;
  animation: btnIconRipple 2s cubic-bezier(0.12, 1, 0.41, 1) both infinite;
}

header .container .main-contant div:nth-of-type(2) a i {
  background: #ff1313;
  width: 80px;
  font-size: 31px;
  height: 80px;
  line-height: 80px;
  color: #d4d7e0;
  border-radius: 50%;
  display: inline-block;
}

.up {
  z-index: 2;
  position: fixed;
  top: 34rem;
  right: 36px;
  border-radius: 50%;
  display: none;
}

.up button {
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  background-color: #ff1313;
}

.up button i {
  color: #fff;
  font-size: 17px;
}

.sec1 {
  padding-top: 10rem;
}

.sec1 .container .row div:nth-of-type(1) {
  margin-bottom: 2.5rem;
}

.sec1 .container .row div:nth-of-type(1) img {
  width: 100%;
  height: 100%;
}

.sec1 .container .row div:nth-of-type(2) {
  font-family: 'Staatliches', cursive;
}

.sec1 .container .row div:nth-of-type(2) h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.sec1 .container .row div:nth-of-type(2) h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
}

.sec1 .container .row div:nth-of-type(2) h2 {
  font-size: 3rem;
  font-weight: bold;
  color: #2c234d;
}

.sec1 .container .row div:nth-of-type(2) p:nth-of-type(1) {
  margin: 25px 0;
  color: #7d7d7d;
}

.sec1 .container .row div:nth-of-type(2) p:nth-of-type(2) {
  margin-bottom: 2.5rem;
  color: #c5c5c5;
}

.sec1 .container .row div:nth-of-type(2) a {
  display: inline-block;
  padding: 15px 25px;
  margin-top: 10px;
  background-color: #ff1313;
  color: #d4d7e0;
  text-decoration: none;
  font-size: 20px;
}

.sec1 .container .row div:nth-of-type(2) a.hvr-bounce-to-right:before {
  background-color: rgba(10, 1, 1, 0.329);
  color: #d4d7e0;
}

.sec2 {
  background-image: url(../img/gallery/sec2-img.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  margin-top: 70px;
  padding: 100px 0 130px;
}

.sec2 .container .row1 {
  font-family: 'Staatliches', cursive;
}

.sec2 .container .row1 div:nth-of-type(1) {
  margin-bottom: 40px;
}

.sec2 .container .row1 div:nth-of-type(1) h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.sec2 .container .row1 div:nth-of-type(1) h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
}

.sec2 .container .row1 div:nth-of-type(1) p {
  font-size: 3rem;
  font-weight: bold;
  color: #d4d7e0;
}

.sec2 .container .row1 div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec2 .container .row1 div:nth-of-type(2) a {
  display: inline-table;
  padding: 15px 25px;
  margin-top: 10px;
  background-color: #ff1313;
  color: #d4d7e0;
  text-decoration: none;
  font-size: 20px;
}

.sec2 .container .row1 div:nth-of-type(2) a.hvr-bounce-to-right:before {
  background-color: rgba(10, 1, 1, 0.329);
  color: #d4d7e0;
}

.sec2 .container .row2 {
  margin-top: 50px;
  justify-content: center;
}

.sec2 .container .row2 .card {
  padding: 45px 0;
  margin: 15px;
  transition: all .5s ease-in-out;
}

.sec2 .container .row2 .card:hover {
  transform: scale(1.1);
}

.sec2 .container .row2 .card:hover i {
  color: #ff1313;
}

.sec2 .container .row2 .card .card-body i {
  font-size: 30px;
  transition: all .5s ease-in-out;
}

.sec2 .container .row2 .card .card-body h6 {
  margin: 30px 0 !important;
}

.sec2 .container .row2 .card .card-body p {
  font-size: .9rem;
  color: #d4d7e0;
}

.sec2 .container .row2 .card div:nth-of-type(2) {
  position: absolute;
  width: 100%;
  top: 16rem;
  display: none;
  background: #ff1313;
  height: 2.5rem;
}

.sec3 {
  padding: 150px 0;
  font-family: 'Staatliches', cursive;
}

.sec3 .container .row div.about-img {
  position: relative;
  height: 570px;
  margin-bottom: 40px;
}

.sec3 .container .row div.about-img img:nth-of-type(1) {
  width: 100%;
  height: 100%;
}

.sec3 .container .row div.about-img img:nth-of-type(2) {
  position: absolute;
  bottom: 200px;
  right: -51px;
  width: 120px;
}

.sec3 .container .row div.for-slider {
  padding: 80px 0 0 73px;
}

.sec3 .container .row div.for-slider h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.sec3 .container .row div.for-slider h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
}

.sec3 .container .row div.for-slider > p {
  color: #2c234d;
  font-size: 2.5rem;
}

.sec3 .container .row div.for-slider div.about-slider button.slick-prev {
  position: absolute;
  top: 10rem;
  width: 46px;
}

.sec3 .container .row div.for-slider div.about-slider button.slick-next {
  position: absolute;
  top: 10rem;
  font-size: 40px !important;
  left: 55px;
  width: 46px;
}

.sec3 .container .row div.for-slider div.about-slider .slick-slide {
  outline: none;
}

.sec4 .main-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.sec4 .main-gallery .left-img {
  height: 600px;
}

.sec4 .main-gallery .left-img .box1 {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.sec4 .main-gallery .left-img .box1 .big-img {
  background-image: url(../img/gallery/gallery1.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.sec4 .main-gallery .left-img .box1 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
}

.sec4 .main-gallery .left-img .box1 .overlay h2 {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  text-transform: uppercase;
  font-family: serif;
  color: #ff1313;
  font-size: 2.5rem;
}

.sec4 .main-gallery .right-img {
  height: 600px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.sec4 .main-gallery .right-img .box2 {
  overflow: hidden;
  position: relative;
}

.sec4 .main-gallery .right-img .box2 .small-img1 {
  background-image: url(../img/gallery/gallery2.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.sec4 .main-gallery .right-img .box2 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
}

.sec4 .main-gallery .right-img .box2 .overlay h2 {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  text-transform: uppercase;
  font-family: serif;
  color: #ff1313;
  font-size: 2.5rem;
}

.sec4 .main-gallery .right-img .box3 {
  overflow: hidden;
  position: relative;
}

.sec4 .main-gallery .right-img .box3 .small-img2 {
  background-image: url(../img/gallery/gallery3.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.sec4 .main-gallery .right-img .box3 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
}

.sec4 .main-gallery .right-img .box3 .overlay h2 {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  text-transform: uppercase;
  font-family: serif;
  color: #ff1313;
  font-size: 2.5rem;
}

.sec4 .main-gallery .right-img .box4 {
  overflow: hidden;
  position: relative;
}

.sec4 .main-gallery .right-img .box4 .small-img3 {
  background-image: url(../img/gallery/gallery4.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.sec4 .main-gallery .right-img .box4 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
}

.sec4 .main-gallery .right-img .box4 .overlay h2 {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  text-transform: uppercase;
  font-family: serif;
  color: #ff1313;
  font-size: 2.5rem;
}

.sec4 .main-gallery .right-img .box5 {
  position: relative;
  overflow: hidden;
}

.sec4 .main-gallery .right-img .box5 .small-img4 {
  background-image: url(../img/gallery/gallery5.png);
  background-size: cover;
  background-position: center center;
  height: 100%;
}

.sec4 .main-gallery .right-img .box5 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  text-align: center;
}

.sec4 .main-gallery .right-img .box5 .overlay h2 {
  position: absolute;
  width: 100%;
  transform: translateY(-50%);
  top: 50%;
  text-transform: uppercase;
  font-family: serif;
  color: #ff1313;
  font-size: 2.5rem;
}

.sec5 {
  padding-top: 120px;
}

.sec5 .container .row1 {
  font-family: 'Staatliches', cursive;
}

.sec5 .container .row1 div:nth-of-type(1) {
  margin-bottom: 40px;
}

.sec5 .container .row1 div:nth-of-type(1) h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.sec5 .container .row1 div:nth-of-type(1) h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
}

.sec5 .container .row1 div:nth-of-type(1) p {
  font-size: 3rem;
  font-weight: bold;
  color: #2c234d;
}

.sec5 .container .row1 div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec5 .container .row1 div:nth-of-type(2) a {
  display: inline-table;
  padding: 15px 25px;
  margin-top: 10px;
  background-color: #ff1313;
  color: #d4d7e0;
  text-decoration: none;
  font-size: 20px;
}

.sec5 .container .row1 div:nth-of-type(2) a.hvr-bounce-to-right:before {
  background-color: rgba(10, 1, 1, 0.329);
  color: #d4d7e0;
}

.sec5 .container .row2 {
  padding-top: 60px;
}

.sec5 .container .row2 .fit-con1 {
  height: 500px;
  margin-bottom: 30px;
}

.sec5 .container .row2 .fit-con1 .fit {
  background-image: url(../img/gallery/team1.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sec5 .container .row2 .fit-con2 {
  height: 500px;
  margin-bottom: 30px;
}

.sec5 .container .row2 .fit-con2 .fit {
  background-image: url(../img/gallery/team2.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sec5 .container .row2 .fit-con3 {
  height: 500px;
  margin-bottom: 30px;
}

.sec5 .container .row2 .fit-con3 .fit {
  background-image: url(../img/gallery/team3.png);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.sec6 {
  padding: 60px 0px;
  background-color: #2c234d;
}

.sec6 .container .row1 {
  font-family: 'Staatliches', cursive;
}

.sec6 .container .row1 div:nth-of-type(1) {
  margin-bottom: 40px;
}

.sec6 .container .row1 div:nth-of-type(1) p {
  font-size: 4rem;
  font-weight: bold;
  color: #d4d7e0;
}

.sec6 .container .row1 div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec6 .container .row1 div:nth-of-type(2) a {
  display: inline-table;
  padding: 15px 25px;
  margin-top: 10px;
  background-color: #ff1313;
  color: #d4d7e0;
  text-decoration: none;
  font-size: 20px;
}

.sec6 .container .row1 div:nth-of-type(2) a.hvr-bounce-to-right:before {
  background-color: rgba(10, 1, 1, 0.329);
  color: #d4d7e0;
}

.active {
  background-color: #ff1313;
}

.active a {
  color: #fff;
}

.sec7 {
  padding: 60px 0px;
}

.sec7 .container .row1 {
  font-family: 'Staatliches', cursive;
}

.sec7 .container .row1 div:nth-of-type(1) {
  margin-bottom: 40px;
  line-height: .9;
}

.sec7 .container .row1 div:nth-of-type(1) p.pfor-m {
  margin-top: 2rem;
}

.sec7 .container .row1 div:nth-of-type(1) p {
  font-size: 4rem;
  font-weight: bold;
  color: #2c234d;
}

.sec7 .container .row1 div:nth-of-type(1) h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 25px;
  margin-bottom: 50px;
  display: unset;
}

.sec7 .container .row1 div:nth-of-type(1) h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
  left: -5rem;
  top: 50%;
}

.sec7 .container .row2 {
  padding-top: 4rem;
  font-family: 'Staatliches', cursive;
}

.sec7 .container .row2 div:nth-of-type(1) .day-tabs {
  background: aliceblue;
}

.sec7 .container .row2 div:nth-of-type(1) .day-tabs ul {
  list-style: none;
  flex-wrap: wrap;
}

.sec7 .container .row2 div:nth-of-type(1) .day-tabs ul li a {
  display: inline-block;
  padding: 15px 25px;
  font-size: 1.2rem;
}

.sec7 .container .row2 div:nth-of-type(1) .day-tabs ul li a:hover {
  text-decoration: none;
}

.sec7 .container .row3 {
  margin-top: 100px;
  font-family: 'Staatliches', cursive;
}

.sec7 .container .row3 .parent-time .timeline {
  flex-wrap: wrap;
  background: aliceblue;
}

.sec7 .container .row3 .parent-time .timeline div {
  padding: 50px 20px;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin-bottom: 50px;
}

.sec7 .container .row3 .parent-time .timeline div > span {
  background-color: #050000;
  display: inline-block;
  padding: 10px;
  color: #fff;
}

.sec7 .container .row3 .parent-time .timeline div h2 {
  margin: 12px 0px;
}

.sec7 .container .row3 .parent-time .timeline div:hover {
  background-color: #ff1313;
}

.sec7 .container .row3 .parent-time .timeline div:hover > span {
  background-color: #ddd;
  color: #000;
}

.sec7 .container .row3 .parent-time .timeline div.active > span {
  background-color: #ddd;
  color: #000 !important;
}

.sec8 {
  height: 700px;
}

.sec8 .container-fluid .row {
  height: 600px;
}

.sec8 .container-fluid .row .for-img {
  background-image: url(../img/gallery/contact_form.png);
  background-position: center center;
  background-size: cover;
}

.sec8 .container-fluid .row .for-img2 {
  background-color: #f4f6ff;
  padding: 30px 40px;
}

.sec8 .container-fluid .row .for-img2 .header-form h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 25px;
}

.sec8 .container-fluid .row .for-img2 .header-form h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
}

.sec8 .container-fluid .row .for-img2 .header-form p {
  font-size: 2rem;
  font-weight: bold;
  color: #2c234d;
  margin: 0;
}

.sec8 .container-fluid .row .for-img2 form {
  margin-top: 6rem;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  font-family: 'Staatliches', cursive;
}

.sec8 .container-fluid .row .for-img2 form div {
  height: 50px;
}

.sec8 .container-fluid .row .for-img2 form div input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #c3baba70;
  padding-left: 20px;
}

.sec8 .container-fluid .row .for-img2 form div input:focus {
  outline: none;
}

.sec8 .container-fluid .row .for-img2 form .inp3 .nice-select {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.sec8 .container-fluid .row .for-img2 form .inp3 .nice-select ul {
  width: 100%;
}

.sec8 .container-fluid .row .for-img2 form .inp5 {
  grid-column: 1/3;
}

.sec8 .container-fluid .row .for-img2 form .inp5 textarea {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #c3baba70;
  padding-left: 20px;
}

.sec8 .container-fluid .row .for-img2 form .inp5 textarea:focus {
  outline: none;
}

.sec9 {
  padding: 60px 0px;
}

.sec9 .container .row1 {
  font-family: 'Staatliches', cursive;
}

.sec9 .container .row1 div:nth-of-type(1) {
  margin-bottom: 40px;
  line-height: .9;
}

.sec9 .container .row1 div:nth-of-type(1) p.pfor-m {
  margin-top: 2rem;
}

.sec9 .container .row1 div:nth-of-type(1) p {
  font-size: 4rem;
  font-weight: bold;
  color: #2c234d;
}

.sec9 .container .row1 div:nth-of-type(1) h4 {
  position: relative;
  color: #ff1313;
  margin-left: 5rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  margin-bottom: 25px;
  margin-bottom: 50px;
  display: unset;
}

.sec9 .container .row1 div:nth-of-type(1) h4::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 2px;
  left: -76px;
  top: 69%;
  background-color: #ff1313;
  left: -5rem;
  top: 50%;
}

.sec9 .container .row2 {
  margin-top: 10rem;
}

.sec9 .container .row2 .col1 .card .blog-img1 {
  position: relative;
  overflow: hidden;
}

.sec9 .container .row2 .col1 .card .blog-img1 img {
  transition: all .5s ease-in-out;
}

.sec9 .container .row2 .col1 .card .blog-img1 img:hover {
  transform: scale(1.1);
}

.sec9 .container .row2 .col1 .card .blog-img1 .offer {
  padding: 23px;
  text-align: center;
  background: #ff1313;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.sec9 .container .row2 .col1 .card .card-body {
  padding: 30px;
}

.sec9 .container .row2 .col1 .card .card-body .card-title {
  position: relative;
  margin-left: 3.5rem;
}

.sec9 .container .row2 .col1 .card .card-body .card-title::before {
  position: absolute;
  content: "";
  width: 45px;
  height: 2px;
  left: -56px;
  top: 69%;
  background-color: #212529;
}

.sec9 .container .row2 .col1 .card .card-body p {
  font-size: 1.9rem;
  transition: all .5s ease-in-out;
}

.sec9 .container .row2 .col1 .card .card-body p:hover {
  color: #ff1313;
  cursor: pointer;
}

footer {
  background-image: url(../img/gallery/footer.png);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 1px;
  padding-top: 10rem;
  font-family: 'Staatliches', cursive;
}

footer .container .row {
  padding-bottom: 8rem;
  border-bottom: 1px solid;
}

footer .container .row .first-col div h3 {
  color: #fff;
}

footer .container .row .first-col div ul {
  list-style: none;
  margin-top: 21px;
  padding: 0;
  line-height: 2;
}

footer .container .row .first-col div ul li {
  color: gray;
}

footer .container .row .first-col div ul .hvr-forward {
  display: block;
}

footer .container .row .last-col div p {
  margin-top: 2rem;
  color: gray;
  font-size: .9rem;
}

footer .container .row .last-col div ul {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-top: 20px;
}

footer .container .row .last-col div ul li i {
  transition: all .5s ease-in-out;
}

footer .container .row .last-col div ul li i:hover {
  color: #ff1313;
  cursor: pointer;
  transform: scale(1.1);
}

footer .container .copy-right {
  margin-top: 4rem;
  letter-spacing: 2px;
}

footer .container .copy-right p {
  color: #d4d7e0;
}

footer .container .copy-right p i {
  color: #ff1313;
}

@media (min-width: 500px) and (max-width: 700px) {
  .sec3 .container .row div.about-img img:nth-of-type(2) {
    right: 7px;
  }
}

@media (min-width: 500px) and (max-width: 1050px) {
  .sec4 .main-gallery {
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 30px;
  }
}

@media (min-width: 500px) and (max-width: 991px) {
  .sec8 .container-fluid .row > div:nth-of-type(1) {
    display: none;
  }
}

@media (min-width: 500px) {
  header .container .main-contant div:nth-of-type(1) p {
    font-size: 2.5rem;
  }
}

@media (min-width: 754px) {
  header .container .main-contant div:nth-of-type(1) p {
    font-size: 3.4rem;
  }
}

@media (min-width: 990px) {
  header .container .main-contant div:nth-of-type(1) p {
    font-size: 4.7rem;
  }
}

@media (min-width: 500px) and (max-width: 765px) {
  .sec3 .container .row div.for-slider div.about-slider button.slick-prev {
    left: 10rem;
  }
  .sec3 .container .row div.for-slider div.about-slider button.slick-next {
    left: 15rem;
  }
}

@media (max-width: 942px) {
  header .container .main-contant {
    padding-top: 9rem;
  }
}

@media (max-width: 1273px) {
  header .container .main-contant {
    padding-top: 5rem;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
  }
}

@keyframes btnIconRipple {
  0% {
    border-width: 3px;
    transform: scale(1);
  }
  50% {
    border-width: 1px;
    transform: scale(1.5);
  }
  80% {
    border-width: 1px;
    transform: scale(1.9);
  }
  100% {
    opacity: 0;
  }
}
